/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:root {
  --dark-bg-color: #1F2937;

  --main-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --dark-text-color: #1F2937;
  --btn-bg-color: #3882F6;

  --text-sm: 18px;
  --text-base: 24px;
  --text-lg: 36px;
  --text-xl: 48px;
}
